<!doctype html>
<html>
<head>
	<title>STC: Reillustrated - {{discord_user.name}}</title>
<style>
	.outer {
		
	}
	.inner {
	    width: 80%;
	    margin-left: auto;
	    margin-right: auto;
	}
</style>
</head>
<body>
    <div class="outer">
    <div class="inner">
	<center><img src="https://stcr.nevira.net/assets/stcr-logo.png" style="width: 528px; margin-left: auto; margin-right: auto;" />
		<h2>Contributors' area</h2></center>
	<img src='{{discord_user.avatar_url}}' style="float: left; margin: 1ex; border: 1px solid black; width: 3em; height: 3em;" />
	<p>Logged in using discord as {{discord_user.name}}. <a href="{{url_for('.logout')}}">Log out</a></p>

	{% if status == "ALLOCATED" %}
	<div class="confirmed">
		<p>You have been allocated Page {{db_user.a_page}}, Panel {{db_user.a_panel}}!</p>
		<p>Please now join the STC:R community discord with this link. We use the discord for community discussions and it's where you'll send us your WIPs and finished pieces too.</p>
		<p><a href="{{config.DISCORD_LINK}}">Join the STC:R discord server.</a></p>
		<p>Here is your panel base layer. Download it with Right click &rarr; Save Image As and add it to your working file (or get in touch with us if you're using physical media):</p>
		<img src="{{ config.PANEL_TEMPLATES_ROOT }}{{db_user.a_issue}}-{{db_user.a_page}}-{{db_user.a_panel}}.png" alt="Panel template {{db_user.a_issue}}-{{db_user.a_page}}-{{db_user.a_panel}}.png" title="Panel template {{db_user.a_issue}}-{{db_user.a_page}}-{{db_user.a_panel}}" />
		<p>Full instructions:</p>
		<img src="{{ config.PANEL_TEMPLATES_ROOT }}template-instructions-2.png" style="max-width: 90%;"/>
	</div>
	{% elif status == "PENDING" %}
	<p>We are curently processing your panel choice, try refreshing this page in a few moments!</p>
	{% else %}
	<form method="POST" action="{{url_for('.choose')}}">
		{% if status == "FAILED" %}
		<p>Unfortunately none of your first set of choices were available. You can make another selection with the remaining panels.</p>
		{% endif %}
		<p>Choose the panel you want to draw. Panels are allocated in the order they were requested. In case someone else has taken your first choice of panel between this page loading and you submitting the form, you can also choose a second (and third) choice if you wish.</p>
		<p>
		First choice:
		<select name="first_choice">
			<option value="">-</option>
			{% for panel in available_panels %}
			<option value="{{panel.page}}-{{panel.panel}}">Page {{panel.page}} - Panel {{panel.panel}}</option>
			{% endfor %}
		</select>
		</p>
		<p>
		Second choice:
		<select name="second_choice">
			<option value="">-</option>
			{% for panel in available_panels %}
			<option value="{{panel.page}}-{{panel.panel}}">Page {{panel.page}} - Panel {{panel.panel}}</option>
			{% endfor %}
		</select>
		</p>
		<p>
		Third choice:
		<select name="third_choice">
			<option value="">-</option>
			{% for panel in available_panels %}
			<option value="{{panel.page}}-{{panel.panel}}">Page {{panel.page}} - Panel {{panel.panel}}</option>
			{% endfor %}
		</select>
		</p>
		<input type="submit" />
	</form>
	{% endif %}
   </div></div>
</body>
</html>

