<!doctype html>
<html>
<head>
	<title>{{discord_user.name}}</title>
	<style>
		table { padding: 0; border-collapse: collapse; }
		td { margin: 0; border: 1px solid grey; }
	</style>
</head>
<body>
	<img src='{{discord_user.avatar_url}}' />
	<p>Logged in as {{discord_user.name}}</p>

	<h2>Choices and Allocations History View</h2>

	<table style="width:100%;">
		<thead>
			<th>Time</th>
			<th>User</th>
			<th>Action</th>
			<th>Choice/Allocated</th>
			<th>Preference</th>
		</thead>
		<tbody>
	{% for item in choices %}
	<tr style="
	       {% if item.type == "choice" %}
		background-color: #f0f0f0;
	       {%else%}
		background-color: #f0fff0;
	       {%endif%}"
	>
		<td>{{item.created}}</td>
		<td>{{item.u_discord_username}}</td>
		<td>{{item.type == 'choice' and 'User choice' or 'Panel allocation'}}</td>
		{% if item.p_issue %}
		<td>Issue {{item.p_issue}}, {{item.p_page}}-{{item.p_panel}}</td>
		{%else%}
		<td>-</td>
		{%endif%}
		<td>{{item.preference or ''}}</td>
	</tr>
	{%endfor%}
		</tbody>
	</table>

</body>
</html>

