<!doctype html>
<html>
<head>
	<title>{{discord_user.name}}</title>
	<style>
		table { padding: 0; border-collapse: collapse; }
		td { margin: 0; border: 1px solid grey; }
	</style>
</head>
<body>
	<img src='{{discord_user.avatar_url}}' />
	<p>Logged in as {{discord_user.name}}</p>

	<h2>Admin Queue View</h2>

	<p>Queue should have no PENDING items under usual circumstances, unless you catch this page just as a user submits a panel request.</p>

	<table style="width:100%;">
		<thead>
			<th>User</th>
			<th>Created here</th>
			<th>Admin</th>
			<th>Issue</th>
			<th>Page and Panel</th>
		</thead>
		<tbody>
	{% for user in users %}
	<tr style="
	       {% if user.status == "PENDING" %}
		background-color: #f0f0f0;
	       {%else%}
		background-color: #f0fff0;
	       {%endif%}"
	>
	<td>{{users[user].discord_username}}</td>
	<td>{{users[user].created}}</td>
	<td>{{users[user].admin and 'Y' or 'N'}}</td>
	<td>{{users[user].a_issue}}</td>
	{% if users[user].aid %}
	<td>{{users[user].a_page}}-{{users[user].a_panel}}</td>
	{% else %}
		<td>None</td>
	{%endif %}
	<td>
		<form method="POST" action="{{url_for('.return_panel')}}"><input type="Submit" value="Return panel"><input type="hidden" name="user" value="{{users[user].id}}" /><input type="hidden" name="issue" value="{{users[user].a_issue}}" /></form>
	</td>

	</tr>
	{%endfor%}
		</tbody>
	</table>

</body>
</html>

